html.mainpage
{
    background-image:url('https://i.postimg.cc/Gt5sCkkh/lain2.jpg');
    background-size:cover;
    background-attachment:fixed;
}
div.page
{
    margin:auto;
    width: 80%;
    background-color:rgb(255,255,255,0)
}
div.context
{
    background-color:rgb(255, 251, 251,0.3);/*0.3为半透明*/
    margin-top:100px ;
    box-shadow:2px 2px 2px 2px rgb(54, 54, 54);
    padding-top:50px;
    padding-bottom:50px;
    padding-left:30px;
    padding-right:30px;
}
#font-color
{
    color:rgb(0, 0, 0);
}
p.style-footer
{
    color:rgb(136, 136, 136);
    
    font-family: 微软雅黑;
    
}
a:link
{
    text-decoration: none;
    color:grey ;
}
a:visited
{
    text-decoration: none;
    color:grey ;
}
a:hover
{
    text-decoration: none;
    color:azure
}
a:active
{
    text-decoration: none;
    color: azure;
}
